# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model artifacts
models/*.pt

# Logs and temp
*.log
*.tmp
